@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Neon-Green-low:hsl(150, 100%, 66%,0.5);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Font-size-quote: 28px;
}
*,::before,::after{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: var(--Dark-Blue);
}
.heading{
    color: var(--Neon-Green);
    letter-spacing: 0.4em;
    font-size: 0.8em;
}
.quote{
    color: var(--Light-Cyan);
    font-size: var(--Font-size-quote);
}
main{
    background-color: var(--Dark-Grayish-Blue);
    width: 500px;
}
.dice-container{
    bottom: -25px;
}
.dice{
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--Neon-Green);
    transition: box-shadow 500ms;

}
.dice:hover{
    box-shadow: 0 0 20px 10px var(--Neon-Green-low);
}
.dice:active{
    animation-name: spin-dice;
    animation-duration: 400ms;
}
@keyframes spin-dice{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.attribution{
    color: var(--Light-Cyan);
}
@media (max-width:576px){
    .quote{
        font-size: 1.2em;
    }
}
@media (max-width:350px){
    .quote{
        font-size: 1.0em;
    }
}